<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patent Page</title>
</head>

<style>

@font-face {
        font-family: roboto;
        src: url(/static/fonts/Roboto/Roboto-Regular.ttf);
    }

    body{
        font-family: roboto;
    }
</style>

<body>
    
    <h1>MARKED CONTAINER FOR MEDICAL USE</h1>
    <p>ID: EP16151184W1B9</p>
    <p>Sustainability Score: 90% (That's pretty sus)</p>
    <img src="/static/img/patent_images/imgf0001EP07862472NWB1.png" height=300 width=300 alt="">
</body>


</html>