<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patent Page</title>
</head>

<style>
    #search-box{
        position: absolute;
        top: 34%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #search-box ul{
        max-height: 260px;
        overflow: scroll;
    }
</style>

<body>

    
    <h1>MARKED CONTAINER FOR MEDICAL USE</h1>
    <p>ID: EP16151184W1B9</p>
    <p>Sustainability Score: 90% (That's pretty sus)</p>
    
</body>


</html>